/* static/styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

.banner-img {
    width: 250px;
    height: 75px; 
    object-fit: cover;
    object-position: center;
}

.navbar-custom {
    height: 90px;
    width: 100%;
}

/* Nueva clase para los enlaces de navegación */
.nav-link-custom {
    color: #343a40; /* Cambia el color según sea necesario */
    text-decoration: none; /* Elimina el subrayado */
}

.nav-link-custom:hover {
    color: #0056b3; /* Cambia el color al pasar el ratón por encima */
    text-decoration: underline; /* Añade el subrayado al pasar el ratón por encima */
}

.home-alert{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 120px; 
    margin-right: 80px;
    font-size: 30px;
    text-align: center;
}

.basic-service {
    text-align: center; /* Centra el contenedor de las imágenes */
}

.basic-service img {
    width: 300px; /* Ajusta según tus necesidades */
    height: auto; /* Mantén la proporción de la imagen */
    display: inline-block; /* Asegura que las imágenes se muestren en línea */
    margin: 0 10px; /* Espacio entre las imágenes */
}

.hide-elements .nav-item {
    display: none;
}



.form-container {
    display: grid;
    place-items: center; /* Centro el formulario dentro del contenedor */
    height: 85vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    background-color: #f0f0f0; /* Color de fondo de la página */
}

.login-item {
    width: 400px; /* Ancho del formulario */
    border: 2px solid #ccc; /* Borde delimitado */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Sombra para darle un efecto elevado */
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redondeados */
}
